name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/gradle-build-action@v2

      - name: Check api
        run: ./gradlew apiCheck

      - name: Generate kover coverage report
        run: ./gradlew koverXmlReport

      - name: Add coverage report to PR
        if: ${{ github.event_name == 'pull_request' }}
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: ${{ github.workspace }}/kstore/build/reports/kover/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Code Coverage
          update-comment: true
          min-coverage-overall: 80
          min-coverage-changed-files: 80

  build:
    strategy:
      matrix:
        config: [
          { target: jvm, os: ubuntu-latest, tasks: jvmTest, continueOnError: false },
          { target: apple, os: macos-latest, tasks: iosX64Test iosSimulatorArm64Test macosX64Test macosArm64Test tvosX64Test tvosSimulatorArm64Test watchosX64Test watchosSimulatorArm64Test, continueOnError: false },
          { target: windows, os: windows-latest, tasks: mingwX64Test, continueOnError: true }, # https://github.com/square/okio/issues/951
          { target: linux, os: ubuntu-latest, tasks: linuxX64Test, continueOnError: false },
          { target: js, os: ubuntu-latest, tasks: jsTest, continueOnError: false },
          { target: wasm, os: ubuntu-latest, tasks: wasmJsTest, continueOnError: false },
        ]
    runs-on: ${{ matrix.config.os }}
    name: Build ${{ matrix.config.target }}
    needs: check
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/gradle-build-action@v3

      - name: Test ${{ matrix.config.target }} targets
        continue-on-error: ${{ matrix.config.continueOnError }}
        run: ./gradlew ${{ matrix.config.tasks }}

  release:
    name: Release ${{ matrix.module }} to Sonatype
    # run only on tags
    if: startsWith(github.ref, 'refs/tags/v')
    env:
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}

    runs-on: macos-latest
    needs:
      - build

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/gradle-build-action@v3

      - name: Release to sonatype
        run: ./gradlew publishAllToMavenCentral


  documentation:
    name: Publish documentation
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup gradle
        uses: gradle/gradle-build-action@v3

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Generate api docs with dokka
        run: ./gradlew dokkaHtmlMultiModule

      - name: Build Writerside docs using Docker
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: docs/kstore
          artifact: webHelpKSTORE2-all.zip
          docker-version: 232.10275

      - name: Upload documentation
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: |
            artifacts/webHelpKSTORE2-all.zip
            artifacts/report.json
          retention-days: 7

      - name: Unzip artifact
        run: |
          unzip -qq artifacts/webHelpKSTORE2-all.zip -d build/docs

      - name: Move dokka api-doc to docs/api
        run: |
          sudo mkdir -p build/docs/api
          sudo mv build/dokka/htmlMultiModule/* build/docs/api

      - name: Upload pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/build/docs

      - name: Release to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
